<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <h3 class="m-4">The current date and time is:</h3>
        <div>
            <h3>@ViewBag.DayDisplay</h3>
            <h3>@ViewBag.DateDisplay2</h3>
            <h3>@ViewBag.TimeDisplay</h3>
        </div>
    </div>
</body>
</html>